{{!-- Nav bar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="navbar-logo" src="/assets/images/Indeed-Logo.png" alt="">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline ml-auto">
            <a href="/scrape" class="btn btn-outline-secondary scrape" type="button">Scrape New Jobs</a>
            <a href="/saved" class="btn btn-outline-secondary saved-jobs" type="button">Saved Jobs</a>
            <a href="/clear" class="btn btn-outline-secondary clear-jobs" type="button">Clear Jobs</a>
        </form>
    </div>
</nav>

{{!-- Header --}}
<header>
    <div class="jumbotron text-center">
        <div class="overlay"></div>
        <div class="background-image"></div>
        <div class="caption">
            <h1>Saved Jobs</h1>
            <p>Indeed Web Developer Edition</p>
        </div>
    </div>
</header>

{{!-- Main Container --}}
<div class="container saved-jobs-container">
    {{#each job}}
        {{#if this.saved}} 
            <div class="card jobs">
                    <h5 class="card-header"{{this._id}}>
                <div class="row">
                        <div class="col-lg-8 col-sm-12 title">
                            <a target="_blank" href="https://indeed.com{{this.link}}">{{this.title}}</a>   -  {{this.location}}
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <a target="_blank" href="https://indeed.com{{this.link}}" class="btn btn-outline-secondary">More info!</a>
                            <button class="btn btn-outline-secondary load-notes" data-id={{this._id}} data-toggle="modal" data-target="#noteModal">Notes</button>
                            <button class="btn btn-outline-secondary delete" data-id={{this._id}}>Delete</button>
                        </div>
                </div>
                    </h5>
                <div class="card-body">
                    <h6 class="card-title">{{this.salary}}</h6>
                    <p class="card-text">{{this.summary}}</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalLabel">Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="notes-container col-12">
                        {{#if note}}
                            {{#each note}}
                                <div class='row'>
                                    <div class='new-notes col-10'><p>{{noteText}}</p></div>
                                    <button type='button' class='btn btn-danger delete-note'> X </button>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control user-note" id="user-text-input" rows="2" value="" placeholder="New Note"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-note" data-id={{this._id}}>Save Note</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        {{else}}
            <div class="alert alert-warning text-center">
                <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
            </div>
        {{/if}}
    <br>
    {{/each}}
</div>

{{!-- Footer --}}
<footer class="footer">
    <div class="container">
        <h5>Indeed Web Developer Mongo Scraper</h5>
    </div>
</footer>